/* .App{
    background-image: url('common/newDay.jpg');
    height: 100vh;
} */
.night{
    background-image: url('common/nightNew.png') ;
    height: 100vh;
}
.day{
    background-image: url('common/1583939114_imagesbase.ru.jpg');   
    height: 100vh;
}


